*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    margin-left: 0;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.log-out{
    background-color: #FF862C;
    cursor: pointer;
    border: none;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

.nav-links:hover{
    text-decoration: underline;
}

@media screen and (min-width: 1024px){
    .nav{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links{
        font-size: 1.5rem;
        margin-right: 50px;
    }
}


@media screen and (max-width: 600px) {
    .nav{
        font-size: smaller;

    }

    .log-out{
        width: 75px;
    }
}

@media screen and (max-width: 440px){
    .nav{
        font-size: x-small;
    }

    .log-out{
        width: 60px;
    }
}