.footer{
    margin-top: 20px;
    background-color: transparent;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: large;
    border-top: 1px solid #333;
}